// GENERAL
@import "../styles/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  color: $txt-primary;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
